/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */


/* Custom Gravity Forms */
	/*General Settings */
	.quiz-form-container {
		max-width: 800px;
		margin: 0 auto;
	}

	.quiz-form-container .step-title {
		text-align: left;
	    font-size: 28px;
	    font-style: italic;
	    font-weight: lighter;
	}

	#top .gform_wrapper .quiz-form-container ul li.field_description_below + li.gsection {
		margin-bottom: 24px;
	}

	#top .gform_wrapper input, #top .gform_wrapper select {
		max-width: 250px;
		background-color: #ffffff;
    	border-color: #b77d64;
    	font-weight: lighter;
	}

	#top .gform_wrapper .gform_page_footer input, #top .gform_wrapper .gform_page_footer select {
		background: #b77d64;
	}

	#top .gform_wrapper .gform_footer input, #top .gform_wrapper .gform_footer select {
		background: #b77d64;
	}

	.gform_wrapper .quiz-form-container .top_label .hide-label .gfield_label {
		display: none;
	}

	#top .gform_wrapper .quiz-form-container ul li.gfield.side-desc {
		display: inline-block;
		font-size: 0;
	    min-width: 200px;
	    width: auto;
	}

	#top label {
		font-weight: lighter;

	}

	#top .gform_wrapper .quiz-form-container .gfield_checkbox li label, #top .gform_wrapper .quiz-form-container .gfield_radio li label {
		font-weight: lighter;
	}

	#top .main_color .quiz-form-container input[type='text'] {
		font-weight: lighter;
		background-color: #ffffff;
		border-color: #b77d64;
	}

	#top .gform_wrapper .quiz-form-container input, #top .gform_wrapper .quiz-form-container select {
		font-weight: lighter;
		font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	body .gform_wrapper .quiz-form-container .top_label li.gfield.side-desc div.ginput_container {
		width: 60%;
	    margin: 0 !important;
	    font-size: 20px;
	    display: inline-block;
	}

	#top .gform_wrapper li.gfield.side-desc select {
		width: 100%;
	}

	.gform_wrapper .field_description_below.side-desc .gfield_description {
		display: inline-block;
	    width: 40%;
	    font-size: 12px;
	    text-align: center;
	}

	.gform_wrapper select option {
		font-weight: lighter;
	}

	#ui-datepicker-div .ui-datepicker-header {
	    background-color: #ffffff;
	}

	#ui-datepicker-div.ui-datepicker a {
		background-color: #955b42;
	}

	#ui-datepicker-div td.ui-datepicker-unselectable.ui-state-disabled {
	    background-color: #cecece;
	}

	#ui-datepicker-div .ui-datepicker-calendar .ui-state-default {	
	    background: #ffffff;
	}

	/* Form Step Progress */
	.gform_wrapper .quiz-form-container .gf_step {
		width: 25%;
		margin: 0;
	}

	.gform_wrapper .quiz-form-container .gf_step span.gf_step_number {
		display: none;
	}

	.gform_wrapper .quiz-form-container .gf_step span.gf_step_label {
		font-size: 	20px;
	}

	.gform_wrapper .quiz-form-container .gf_step {
		text-align: center;
		opacity: 1;
	}

	.gform_wrapper .quiz-form-container .gf_page_steps .gf_step_first {
		text-align: left;
	}

	.gform_wrapper .quiz-form-container .gf_page_steps .gf_step_last {
		text-align: right;
	}

	.gform_wrapper .quiz-form-container .gf_page_steps {
		position: relative;
		font-size: 0;
	}

	.gform_wrapper .quiz-form-container .gf_page_steps::before {
		content: "";
		width: 100%;
		height: 3px;
		position: absolute;
		background-color: #cecece;
		top: -25px;
		left: 0;
		border-radius: 10px;
	}

	.gform_wrapper .quiz-form-container .gf_step {
		position: relative;
		display: inline-block;
	}

	.gform_wrapper .quiz-form-container .gf_step_completed::before {
		content: "";
		width: 100%;
		height: 3px;
		position: absolute;
		top: -25px;
		left: 0;
		background-color: #b77d64;
	}

	.gform_wrapper .quiz-form-container .gf_step_active::before {
		content: "";
		width: 50%;
		height: 3px;
		position: absolute;
		top: -25px;
		left: 0;
		background-color: #b77d64;
	}

	.gform_wrapper .quiz-form-container .gf_step_active::after {
		content: "";
	    width: 20px;
	    height: 20px;
	    position: absolute;
	    top: -33px;
	    left: calc(50% - 10px);
	    border-radius: 100%;
	    background-color: #b77d64;
	}

	.gform_wrapper .quiz-form-container .gf_step_first.gf_step_active::before {
		width: 10%;
	    border-radius: 10px 0 0 10px;
	}

	.gform_wrapper .quiz-form-container .gf_step_first.gf_step_active::after {
		left: 10px;
	}

	.gform_wrapper .quiz-form-container .gf_step_last.gf_step_active::before {
		width: 100%;
		border-radius: 0 10px 10px 0;
	}

	.gform_wrapper .quiz-form-container .gf_step_last.gf_step_active::after {
		left: calc(100% - 10px);
	}

	.gform_wrapper .quiz-form-container .gf_step_first.gf_step_completed::before {
		border-radius: 10px 0 0 10px;
	}

	.gform_wrapper .quiz-form-container .gf_step_last.gf_step_completed::before {
		border-radius: 0 10px 10px 0;
	}

	#top .gform_wrapper ul li.gfield.height-label {
		margin: 0 !important;
	}

	#top .gform_wrapper ul li.gfield.height-label p {
		margin: 0 !important;
		font-weight: bold;
	}

	/* Step1 - About You */
	.gform_wrapper .custom-radio-group ul.gfield_radio > li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
	}

	#top .gform_wrapper .custom-radio-group input {
		margin-top: 0;
	}

	#top .gform_wrapper .custom-radio-group ul.gfield_radio li label {
		margin-left: 5px;
	}

	.gform_wrapper .image-radio-group ul.gfield_radio > li {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px;
	}

	#top .gform_wrapper .image-radio-group input {
		margin-top: 5px;
		vertical-align: top;
	}

	#top .gform_wrapper .image-radio-group ul.gfield_radio li label {
		margin-left: 5px;
		vertical-align: top;
	}

	#top .gform_wrapper .image-radio-group ul.gfield_radio li label span {
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}

	#top .gform_wrapper .image-radio-group ul.gfield_radio li label img {
		margin: 0 auto;
		max-width: 150px;
		border: 2px solid transparent;
	}

	#top .gform_wrapper .image-radio-group ul.gfield_radio li input:checked + label img {
		border: 2px solid #b77d64;
	}

	/* Step2 - Style */

	.gform_wrapper .image-checkbox-container ul.gfield_checkbox li {
		display: inline-block;
		width: 33%;
		text-align: center;
	}

	#top .gform_wrapper .image-checkbox-container input {
		display: none;
	}

	#top .gform_wrapper .image-checkbox-container label img {
		border: 3px solid transparent;
	}

	#top .gform_wrapper .quiz-form-container .image-checkbox-container .gfield_checkbox li label {
		margin: 0;
		position: relative;
	}

	#top .gform_wrapper .image-checkbox-container input:checked + label img {
		border: 3px solid #b77d64;
		position: relative;
	}

	#top .gform_wrapper .image-checkbox-container input:checked + label::before {
		content: "\2713";
		color: #ffffff;
		line-height: 30px;
		font-weight: bold;
		position: absolute;
		background-color: #b77d64;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
	}

/*

/* Payment Page */
	#top .sc-uea-container {
	    /*display: flex;*/
	}

	#top .sc-uea-currency {
	    margin-right: 10px;
	}

	#top .sc-uea-container .sc-uea-custom-amount {
		margin-bottom: 0;
	    width: calc(100% - 40px);
		display: inline-block;
	}

	#top .sc-payment-btn {
		background-color: #b77d64;
	    color: #ffffff;
	    border-color: #955b42;
	    border-style: solid;
	    border-bottom: 1px solid;
	    border-left: none;
	    border-right: none;
	    border-top: none;
	    border-radius: 3px;
	    padding: 9px;
	    font-size: 16px;
	    color: #ffffff;
	    border: 2px #b77d64 solid;
	    cursor: pointer;
	}

	#top .parsley-errors-list {
	    list-style: none;
	    margin-bottom: 5px;
	    line-height: 1;
	    font-size: 80%;
	}

	#top .main_color .payment-form input[type='text'], #top .main_color .payment-form input[type='password'] {
		display: block;
		width: 100%;
		margin: 0;
	}

	#top .main_color .payment-form input[type='text'].input-mini {
		width: calc(50% - 10px);
	    display: inline-block;
	    vertical-align: middle;
	}

	#top .main_color .payment-form input[type='text'].input-mini + span {
		display: inline-block;
	    vertical-align: middle;
	}

	#top .wpfs-payment-form.form-horizontal .control-label {
		width: 100%;
    	text-align: left;
	}

	#top .wpfs-payment-form.form-horizontal .controls {
		margin: 0;
	}

	#top #legend__stylistinabox_payment {
		display: none;
	}

	#payment-form-submit__stylistinabox_payment {
		background-color: #b77d64;
	    color: #ffffff;
	    border-color: #955b42;
	    border-style: solid;
	    border-bottom: 1px solid;
	    border-left: none;
	    border-right: none;
	    border-top: none;
	    border-radius: 3px;
	    padding: 9px;
	    font-size: 16px;
	    color: #ffffff;
	    border: 2px #b77d64 solid;
	    cursor: pointer;
	    display: block;
	    margin: 0 auto;
	    width: 50%;
	}
/* How it works page */
#how_it_works_page > .container {
    max-width: initial;
    width: 100%;
    padding: 0;
}

#how_it_works_page .step-container .step-item {
	margin-bottom: 20px;
}

#how_it_works_page .step-item .step-numbering {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
    font-size: 60px;
    margin-right: 20px;
    vertical-align: middle;
}

#how_it_works_page .step-item .step-content {
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: middle;
}

#how_it_works_page .step-item .step-title {
    font-size: 30px;
    font-weight: bold;
}

#how_it_works_page .step-item .step-title {
    font-size: 30px;
    font-weight: bold;
}

#how_it_works_page .um-form {
	background: #ffffff;
	padding: 20px;
}

#how_it_works_page .um-104.um .um-field-label {
	color: #000000;
	font-weight: bold;
}

#how_it_works_page .um-field-checkbox-option, #how_it_works_page .um-field-radio-option {
	color: #000000 !important;
}

Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

  	.quiz-form-container .step-title {
  		font-size: 24px;
	    font-weight: bold;
  	}

  	.gform_wrapper .quiz-form-container .gf_step span.gf_step_label {
		font-size: 16px;
	}

	#top .gform_wrapper .quiz-form-container ul li.gfield {
		margin-bottom: 0px;
	}

	#top .quiz-form-container label {
		font-size: 16px;
	    word-break: break-word;
	}

	body .gform_wrapper .top_label div.ginput_container {
		margin-top: 0px;
	}

	#top .gform_wrapper input, #top .gform_wrapper select {
		font-size: 12px;
	}

	body .gform_wrapper .quiz-form-container .top_label div.ginput_container.ginput_container_address {
		padding: 20px;
    	border: 1px solid black;
	}

	#top .gform_wrapper .custom-radio-group ul.gfield_radio li label {
		margin-left: 0;
	}

	.gform_wrapper .custom-radio-group ul.gfield_radio > li {
		margin: 0 10px;
	}

	.gform_wrapper .quiz-form-container ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.gform_wrapper .image-checkbox-container ul.gfield_checkbox li {
		width: 50%;
	}
}

@media only screen and (max-width: 510px) {
	#top .quiz-form-container .gform_page_footer .button {
		display: inline-block;
		width: auto;
	}
}